body{
    width: 100%;
    background: url("imgs/bridge.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    overflow: visible; 
    color: #af5f5f;
    font-family: lato;
    margin-top: 200px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

#clockDisplay {
    font-weight: 300;
    font-size: 100px;
    /* border-style: solid; */
}
