body{
    width: 100%;
    background: url("imgs/bridge.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    overflow: visible; 
    color: black;
    font-family: lato;
    margin-top: 200px;
    text-align: center;
}

#clockDisplay {
    font-weight: 300;
    font-size: 100px;
}

