html, body{
    width: 100%;
    background: url("imgs/bridge.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    overflow: visible;
}

.hand {

}